---
version: '3.5'
services:
  nginx: 
    container_name: {{ systemd_docker_unit_name }}
    image: {{ nginx_docker_registry }}/nginx:{{ nginx_tag }}
    restart: unless-stopped
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    volumes:
      - '{{ nginx_base_directory }}/ssl:/certificates:ro'
      - '{{ nginx_base_directory }}/config/nginx.conf:/etc/nginx/conf.d/default.conf:ro'
